<div class="game-container">
  <h1>Bataille</h1>

  <div class="players-container">
    <app-player [cardPlayer]="cardPlayer1" [player]="player1"></app-player>
    <app-player [cardPlayer]="cardPlayer2" [player]="player2"></app-player>
  </div>

  <button mat-raised-button color="primary" class="game-input"
    *ngIf="player1.cards.length > 0 && player2.cards.length > 0" (click)="playRound()">Jouer !
  </button>


  <div *ngIf="winner$ | async">
    <h2 *ngIf="player1.cards.length > 0 && player2.cards.length > 0">{{ winner$ | async }} marque 1 point</h2>
  </div>


</div>