<div class="game-container">
  <h1>Bataille</h1>

  <div class="players-container">
    <app-player [cardPlayer]="cardPlayer1" [player]="player1"></app-player>
    <app-player [cardPlayer]="cardPlayer2" [player]="player2"></app-player>
  </div>

  <button class="game-input play-input" *ngIf="player1.cards.length > 0 && player2.cards.length > 0; else endGame"
    (click)="playRound()">Jouer !
  </button>
  <ng-template #endGame>
    <button class="game-input retry-input" (click)="retry()">Rejouer !</button>
  </ng-template>

  <div *ngIf="winner$ | async">
    <h2 *ngIf="player1.cards.length > 0 && player2.cards.length > 0; else endGame">{{ winner$ | async }} marque 1 point
    </h2>
    <ng-template #endGame>
      <h2>Partie terminée: {{ winner$ | async }} gagne la partie</h2>
    </ng-template>
  </div>

  <div *ngIf="equality">
    <h2>Equalité !!! Veuillez recommencer !</h2>
  </div>
</div>